CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/_ViewImports.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_Layout.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Shared/Error.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/Index.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/Employees.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/EditEmployee.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/EditCompany.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.assets.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.Views.pdb
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.Views.dll
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.TagHelpers.output.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.TagHelpers.input.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.RazorTargetAssemblyInfo.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.RazorTargetAssemblyInfo.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.RazorCoreGenerate.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.RazorAssemblyInfo.cs
CompaniesManagementMVC/bin/Debug/netcoreapp2.1/CompaniesManagementMVC.dll
CompaniesManagementMVC/bin/Debug/netcoreapp2.1/CompaniesManagementMVC.deps.json
CompaniesManagementMVC/bin/Debug/netcoreapp2.1/CompaniesManagementMVC.Views.pdb
CompaniesManagementMVC/bin/Debug/netcoreapp2.1/CompaniesManagementMVC.Views.dll
CompaniesManagement/obj/project.assets.json
CompaniesManagement/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CompaniesManagement/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CompaniesManagement/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.pdb
.vs/config/applicationhost.config
.vs/CompaniesManagement/v15/Server/sqlite3/storage.ide-wal
.vs/CompaniesManagement/v15/Server/sqlite3/storage.ide-shm
.vs/CompaniesManagement/v15/Server/sqlite3/storage.ide
.vs/CompaniesManagement/v15/Server/sqlite3/db.lock
.vs/CompaniesManagement/v15/.suo
CompaniesManagementMVC/obj/project.assets.json
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/_ViewStart.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/Companies.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/AddEmployee.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/Razor/Views/Home/AddCompany.g.cshtml.cs
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.pdb
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.dll
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.csprojAssemblyReference.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.csproj.FileListAbsolute.txt
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.csproj.CoreCompileInputs.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.csproj.CopyComplete
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.RazorAssemblyInfo.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.AssemblyInfoInputs.cache
CompaniesManagementMVC/obj/Debug/netcoreapp2.1/CompaniesManagementMVC.AssemblyInfo.cs
CompaniesManagementMVC/obj/CompaniesManagementMVC.csproj.nuget.g.targets
CompaniesManagementMVC/obj/CompaniesManagementMVC.csproj.nuget.g.props
CompaniesManagementMVC/obj/CompaniesManagementMVC.csproj.nuget.cache
CompaniesManagementMVC/bin/Debug/netcoreapp2.1/CompaniesManagementMVC.runtimeconfig.json
CompaniesManagementMVC/bin/Debug/netcoreapp2.1/CompaniesManagementMVC.runtimeconfig.dev.json
CompaniesManagementMVC/bin/Debug/netcoreapp2.1/CompaniesManagementMVC.pdb
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.dll
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.csprojAssemblyReference.cache
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.csproj.FileListAbsolute.txt
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.csproj.CoreCompileInputs.cache
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.assets.cache
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.RazorTargetAssemblyInfo.cache
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.RazorAssemblyInfo.cs
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.RazorAssemblyInfo.cache
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.AssemblyInfoInputs.cache
CompaniesManagement/obj/Debug/netcoreapp2.1/CompaniesManagement.AssemblyInfo.cs
CompaniesManagement/obj/CompaniesManagement.csproj.nuget.g.targets
CompaniesManagement/obj/CompaniesManagement.csproj.nuget.g.props
CompaniesManagement/obj/CompaniesManagement.csproj.nuget.cache
CompaniesManagement/bin/Debug/netcoreapp2.1/CompaniesManagement.runtimeconfig.json
CompaniesManagement/bin/Debug/netcoreapp2.1/CompaniesManagement.runtimeconfig.dev.json
CompaniesManagement/bin/Debug/netcoreapp2.1/CompaniesManagement.pdb
CompaniesManagement/bin/Debug/netcoreapp2.1/CompaniesManagement.dll
CompaniesManagement/bin/Debug/netcoreapp2.1/CompaniesManagement.deps.json
