@{
    ViewData["Title"] = "Edit employee";
    @model CompaniesManagementMVC.ViewModels.Employee
}

<h2>@ViewData["Title"]</h2>

<h2>@Model.Name</h2>

<form asp-action="SaveEmployee" asp-controller="Home">
    <input asp-for="Id" type="hidden" />
    <label>Name</label>
    <input asp-for="Name" placeholder="Your name goes here" />
    <input asp-for="CompanyId" type="hidden" />
    <br />
    <br />
    <label>Experience level</label>
    <select asp-for="ExperienceLevel" asp-items="@new SelectList(new string [] { 'A'.ToString(), 'B'.ToString(), 'C'.ToString(), 'D'.ToString() })"></select>
    <br />
    <br />
    <label>Starting date</label>
    <input asp-for="StartingDate" type="date" />
    <br />
    <br />
    <label>Salary</label>
    <input asp-for="Salary" type="number" />
    <br />
    <br />
    <label>Vacation days</label>
    <input asp-for="VacationDays" type="number" />
    <br />
    <br />
    <input type="submit" value="Update" />
</form>
